<!doctype html>
<html lang="en">

<head>
    <title>Registro de asistencias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/asistencia.css">
    
</head>
<body>
    <main>
        <div id="app" class="container">
            <h1>Asistencias Confirmadas</h1>
            <br>
            
            <a class="btn" href="asistencia_nuevo.html">Cargar Asistencia</a>
            <a href="" class="btn btn-primary" onclick="descargarExcel()">Descargar Excel</a>
            <a class="btn" href="asistencia.html">Home</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table">
                        <table class="table" id="tabla-asistencias">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col" data-column="acciones">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="asistencia in asistencia">
                                    <td scope="row">{{asistencia.id}}</td>
                                    <td>{{asistencia.nombre}}</td>
                                    <td>{{asistencia.correo}}</td>
                                    <td class="but">
                                        <a class="btn btn-danger"
                                            :href="'asistencia_editar.html?id='+ asistencia.id">Editar</a>
                                        <button type="button" class="btn"
                                            v-on:click="eliminar(asistencia.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/asistencia.js"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="./js/descargarExcel.js"></script>


    
</body>

</html>